<p id="notice"><%= notice %></p>

<div class="row mb-4">
  <h4 class="pad col-md-6">Alerts</h4>
</div>

<table class="table">
  <thead>
    <tr>
    <th>Name</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
  <% if !@alerts.blank? %>
  <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.stock_symbol.name%></td>
        <td><%= alert.high%></td>
        <td><%= alert.low%></td>
        <td><%= alert.close%></td>
        <td><%= alert.date%></td>
      </tr>
    <% end %>
  <% else %>
    No Alerts Yet
  <%end%>
  </tbody>
</table>

<br>
<%= will_paginate @alerts %>
<%= link_to 'New Symbol', stock_path %>
